.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 10px;

}

.flex {
  display: flex;
  overflow: auto;
}

.pointer:hover {
  cursor: pointer;
}

.note-preview-wrapper {
  width: 100px;
  cursor: pointer;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

.is-active {
  background-color: dodgerblue;
}

.text-input {
  flex: 1;
  resize: none;
  max-width: calc(100vw - 50px);
  margin-bottom: 10px;
}


html, body, #root, .container {
  height: 100%;
}